.Extra {
  text-align: center;
}
.Extra h4 {
  color: #301b3f;
  font-weight: bolder;
  font-size: 25px;
  margin-bottom: 0;
  font-family: "Arapey", serif;
}
.Extra p {
  color: #f3f4ed;
  font-size: 22px;
  font-weight: lighter;
  font-family: "Poiret One", cursive;
}
.Extra hr {
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -15px;
  margin-bottom: 3px;
  color: #0f627f;
}
