.ForecastDay {
  color: #30475e;
  font-family: "Alegreya Sans SC", sans-serif;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: bolder;
  text-decoration: underline;
  text-decoration-color: #ad6c80;
}

.ForecastTemps {
  font-size: 18px;
  color: #ad6c80;
  font-family: "Poiret One", cursive;
  font-weight: bolder;
}
