.Header {
  margin: 0 auto;
}

.searchbar {
  font-weight: bolder;
  width: 200px;
  height: 36px;
  font-size: 19px;
  margin-right: 8px;
}

button {
  color: #161d6f;
  border-color: #726a95;
  width: 75px;
  height: 36px;
}

button:hover {
  color: #f8f1f1;
  background-color: #aaaaaa;
}
