.searchbar {
  font-weight: bolder;
  width: 222px;
  height: 33px;
  font-size: 19px;
  font-family: "Alegreya Sans SC", sans-serif;
}

button {
  color: #161d6f;
  border-color: #726a95;
  width: 75px;
  height: 33px;
  margin: 0 8px;
  font-family: "Alegreya Sans SC", sans-serif;
}

button:hover {
  color: #f8f1f1;
  background-color: #aaaaaa;
}
