body {
  background-image: url("clouds-background.jpg");
  max-width: 622px;
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  font-family: "Open Sans Condensed", sans-serif;
  margin: 0 auto;
  padding-top: 22px;
}
