.Location {
  text-align: left;
  padding: 22px 22px 5px 10px;
  width: 425px;
  height: 118px;
  margin-left: 22px;
}

.time {
  padding: 0px 0px 0px 10px;
  color: #93abd3;
  font-size: 20px;
  font-weight: lighter;
  margin: 0 auto;
}
.place {
  color: #f7d9d9;
  font-family: "Lobster", cursive;
  text-transform: capitalize;
  font-size: 78px;
}
