.Temperature {
  text-align: center;
  position: relative;
}

.temp {
  font-size: 152px;
  color: #1b1a17;
  font-family: "Poiret One", cursive;
}

.units {
  font-family: "Poiret One", cursive;
  color: #f3f4ed;
  font-size: 28px;
  font-weight: lighter;
  position: relative;
  top: -72px;
}

.conditions {
  font-size: 32px;
  text-transform: uppercase;
  padding-top: 12px;
  color: #f3f4ed;
  font-weight: lighter;
  font-family: "Poiret One", cursive;
}

.Temperature hr {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -15px;
  margin-bottom: 3px;
  color: #0f627f;
}
