.Temperature {
  text-align: center;
  position: relative;
  margin-top: 148px;
}

.temp {
  font-size: 132px;
  color: #f7d9d9;
  font-family: "Lobster", cursive;
}

.units {
  font-family: "Open Sans Condensed", sans-serif;
  color: #93abd3;
  font-size: 28px;
  font-weight: lighter;
  position: relative;
  top: -72px;
}

.conditions {
  font-size: 32px;
  text-transform: uppercase;
  color: goldenrod;
  font-weight: bolder;
  padding-top: 12px;
}
