.searchbar {
  font-weight: lighter;
  width: 222px;
  height: 30px;
  font-size: 19px;
  font-family: "Alegreya Sans SC", sans-serif;
  border-radius: 2%;
}

button {
  color: #1b1a17;
  border-color: #f4f9f9;
  width: 66px;
  height: 30px;
  margin: 0 8px;
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 12px;
  padding-top: 6px;
}

button:hover {
  color: #536162;
}

.weatherData {
  background-blend-mode: screen, overlay;
  background-color: rgb(246, 246, 246, 0.9);
  position: relative;
  border-radius: 22px;
  box-shadow: 8px 8px 8px #625365;
  padding: 25px;
}
