.WeatherInfo {
  background-image: linear-gradient(82deg, 0%, 22%);
  background-blend-mode: screen, overlay;
  background: radial-gradient(
    circle at 10% 20%,
    #136884 0%,
    #a38e93e3 54.2%,
    #fbe7dde7 100.3%
  );
  position: relative;
  border: 0px solid #625365;
  border-radius: 22px;
  box-shadow: 8px 8px 8px #625365;
  padding: 25px;
}

.time {
  color: #f3f4ed;
  font-size: 20px;
  font-weight: lighter;
  font-family: "Poiret One", cursive;
  margin: 0 auto;
  padding-left: 8px;
  text-align: left;
  margin: 0 auto;
}

.place {
  color: #1b1a17;
  font-family: "Alegreya Sans SC", sans-serif;
  text-transform: capitalize;
  font-size: 68px;
  text-align: left;
  margin: 0 auto;
}

#extra {
  text-align: center;
}

#extra h4 {
  color: #1b1a17;
  font-size: 25px;
  margin-bottom: 0;
  font-family: "Alegreya Sans SC", sans-serif;
}

#extra p {
  color: #f3f4ed;
  font-size: 22px;
  font-weight: lighter;
  font-family: "Poiret One", cursive;
}

#extra hr {
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -15px;
  margin-bottom: 3px;
  color: #1b1a17;
}

#current {
  text-align: center;
  position: relative;
  margin-top: -22px;
}

canvas {
  position: relative;
  margin-top: -18px;
}

.temp {
  font-size: 92px;
  color: #1b1a17;
  font-family: "Poiret One", cursive;
  font-weight: bold;
}

.units {
  font-family: "Poiret One", cursive;
  color: #1b1a17;
  font-size: 18px;
  font-weight: lighter;
  position: relative;
  top: -52px;
}

#current hr {
  width: 75%;
  margin: 0 auto;
  color: #1b1a17;
}

.conditions {
  font-size: 28px;
  text-transform: uppercase;
  padding-top: 18px;
  color: #f3f4ed;
  font-weight: lighter;
  font-family: "Poiret One", cursive;
}
